<h1>New Feedback</h1>

<%= form_for([@facilitation,@feedback]) do |f| %>
  <%= f.fields_for :feedback_items do |fi| %>
    <%= fi.text_field :description %>
  <% end %>
  <!-- TODO: ADD SUBMIT NO FORM -->
<% end %>
